@model JavaScriptAPIExamples.Models.InterviewModel
@{
    ViewBag.Title = "HotDocs JavaScript API Examples";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HotDocs JavaScript API Examples</h2>

<ul>
    <li>@Html.ActionLink("Example1: Retrieving and modifying HotDocs interview answers", "Example1")</li>
    <li>@Html.ActionLink("Example2: Custom interview options and buttons", "Example2")</li>
    <li>@Html.ActionLink("Example3: HotDocs Interview Event Handling", "Example3")</li>
    <li>@Html.ActionLink("Example4: Retrieving Answer XML from the Interview", "Example4")</li>
    <li>@Html.ActionLink("Example5: Using Language Modules in the HotDocs Interview", "Example5")</li>    
</ul>